# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=weatherdb
MYSQL_USER=weather_user
MYSQL_PASSWORD=weather_pass

# Uygulama — TypeORM
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_USERNAME=${MYSQL_USER}
DATABASE_PASSWORD=${MYSQL_PASSWORD}
DATABASE_NAME=${MYSQL_DATABASE}

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=changeme!
JWT_EXPIRES_IN=3600s

# OpenWeather API
WEATHER_API_KEY=798446d50fcfe332fcc6253f7cb4d02c
